<!DOCTYPE html>
<html ng-app lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular JS</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/lib/angular.min.js"></script>
</head>
<body>

    <div class="container">

        <h1> NgModel </h1>


        <p>
            Su nombre: {{ nombre | uppercase}}
            <br>
            <input type="text" ng-model="nombre" class="form-control" placeholder="Ingrese su nombre">
        </p>

        <p>
            Seleccione el pais: {{ pais }}
            <select class="form-control" ng-model="pais">
                <option value="1">Costa Rica</option>
                <option value="2">México</option>
                <option value="3">Colombia</option>
            </select>
        </p>

        <p>
            Selecciona las opciones que desea: {{ opt1 }} {{ opt2 }}
            <br>
            <input type="checkbox" ng-model="opt1"> Opción 1
            <br>
            <input type="checkbox" ng-model="opt2"> Opción 2
        </p>

        <p>
            Seleccione el genero: {{ genero }}
            <br>
            <input type="radio" value="M" ng-model="genero">Masculino
            <br>
            <input type="radio" value="F" ng-model="genero">Femenino
        </p>


    </div>
    
</body>
</html>